# AUTH
export BETTER_AUTH_SECRET=<your_better_auth_secret>
export BETTER_AUTH_URL=<your_better_auth_url>

# DATABASE
export DATABASE_URL=<your_database_url>

# APP CONFIG
export FRONTEND_ORIGIN=<your_frontend_origin>
export API_BACKEND_URL=<your_api_backend_url>
export BACKEND_URL=<your_backend_url>
